body {
    font-family: Arial, sans-serif;
    background: url(bg-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    /* background: #09093d50; */
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
    backdrop-filter: blur(9%);
    transition: 1s;

    
}

.login-container:hover{
    border-radius: 30px;
    transition: 2s;
 
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.login-container h2:hover{
    color: black;
    font-size: 100px;
    transition: 2s;

}

img{
    border-radius: 200px;
    width: 200px;
}


.login-container label {
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-container input[type="text"], 
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}




.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.checkbox-container label {
    color: white;
    margin: 2px 2px 2px 2px;
    
}
.checkbox-container label :hover {
    text-decoration: underline;
}

.login-container button {
    background: linear-gradient(135deg, rgb(3, 163, 255), #1972d8, #110dfa);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    transition: 2s;

}
.login-container button:hover {

    width:  80%;
    transition: 2s;
    transition: 2s ease-in-out;
    font-size: 20px;
    border-radius: 30px;
    
}
.login-container p {
    color: white;
    margin-top: 15;
}

.login-container a {
    color: #2f00ff;
    text-decoration: none;
}


